<div
  class="container d-flex flex-column align-items-center justify-content-center flex-grow-1"
>
  <h1 class="text-center display-3">Password Strength Comprobator</h1>
  <p class="text-center text-muted mt-1">
    <strong>Your Password's Strength Instantly!</strong> Our Password Strength
    Checker evaluates how secure your password is by analyzing its length,
    complexity, and character variety. Enter your password to see its strength
    rating and receive tips for improving it. Ensure your online accounts are
    protected with a password that meets the highest security standards!
  </p>
  <div class="row align-items-center justify-content-center mt-3">
    <div class="col-lg-12">
      <div class="card">
        <div
          class="form-group d-flex align-items-center justify-content-center gap-3 my-2 px-1"
        >
          <label for="pass" class="mr-2">Password:</label>
          <input
            type="text"
            class="form-control w-auto"
            id="pass"
            [(ngModel)]="password"
            (ngModelChange)="checkPassword()"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-8 col-lg-12">
      <div
        *ngIf="password && displayTime"
        class="mt-4 alert"
        [ngClass]="getStrengthClass()"
        role="alert"
      >
        <strong>Time to crack password:</strong> {{ displayTime }}
      </div>
    </div>
  </div>

  <div *ngIf="password && weaknessData.message" class="mt-2 text-muted">
    {{ weaknessData.message }}
    <img
      src="{{ weaknessData.imageUrl }}"
      alt="Weakness Image"
      height="70"
      width="70"
    />
  </div>

  <!-- Tips to Keep Passwords Secure -->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card p-4 border-info">
        <h5 class="card-title">Tips to Keep Your Passwords Secure</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-check-circle text-info"></i> Change your password
            every 3 to 6 months.
          </li>
          <li>
            <i class="bi bi-check-circle text-info"></i> Use different passwords
            for different accounts.
          </li>
          <li>
            <i class="bi bi-check-circle text-info"></i> Enable two-factor
            authentication where possible.
          </li>
          <li>
            <i class="bi bi-check-circle text-info"></i> Avoid writing passwords
            down or storing them in plain text.
          </li>
          <li>
            <i class="bi bi-check-circle text-info"></i> Be cautious of phishing
            attempts and avoid clicking on suspicious links.
          </li>
        </ul>
        <p class="mt-3">
          For more detailed information on keeping your passwords secure, visit
          the
          <a
            href="https://www.ncsc.gov.uk/collection/top-tips-for-staying-secure-online"
            target="_blank"
            class="text-info"
            >NCSC's Top Tips for Staying Secure Online</a
          >.
        </p>
      </div>
    </div>
  </div>
</div>
