<nav class="navbar navbar-expand-lg" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        src="assets/genie-logo.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      <strong id="tittle">PasswordGenie</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/') }"
            [routerLink]="['/']"
            >Generator</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/password-strength') }"
            [routerLink]="['/password-strength']"
            >How Strong is my password?</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
